@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 0%;
    --card: 0 0% 93%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 0%;
    --primary: 341 54% 18%;
    --primary-foreground: 0 0% 98%;
    --secondary: 36 27% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 89%;
    --accent: 345 32% 74%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 345 32% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 341 54% 82%;
    --primary-foreground: 0 0% 7%;
    --secondary: 36 27% 50%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 345 32% 26%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 345 32% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
