---
import "@/styles/globals.css"
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import { Button } from "@/ui/button"
import Typography from "@/ui/Typography"
---

<Layout title="Welcome to Astro.">
  <h1 class="">Hello you</h1>
  <Typography variant={"h1"}>Hell YOu sexy</Typography>
  <Typography variant={"h2"}>Hell YOu sexy</Typography>
  <Typography variant={"p"}>Hell YOu sexy</Typography>
  <!-- <H1 ></H1> -->

  <Button>Hello world</Button>
</Layout>
