---
import FooterBranding from "./ui/FooterBranding.astro"
import FooterContent from "./ui/FooterContent.astro"
---

<footer
  class="flex flex-col items-center justify-center gap-10 border-t border-foreground bg-secondary pb-10 pl-5 pr-5 pt-10"
>
  <FooterContent />
  <div class="w-full border-b border-foreground"></div>
  <FooterBranding />
</footer>
