---
import Typography from "@/components/ui/Typography"
import { Button } from "@/components/ui/button"
import HorseProfileImg from "@/assets/HorseProfile.jpg"
import ResponsiveImage from "@/components/ui/ResponsiveImage.astro"
import { Badge } from "@/components/ui/badge"
import { Cake, Medal } from "lucide-react"
import ReadMoreText from "./ui/ReadMoreText"
---

<section
  id="Horse"
  class="grid grid-cols-1 gap-10 md:grid-cols-2 md:items-start md:gap-10 lg:gap-20"
>
  <!-- Left Carousel -->
  <ResponsiveImage
    alt="Site intro"
    src={HorseProfileImg}
    sizes={[400, 700, 900]}
    format="avif"
  />

  <!-- Right Content -->
  <div class="flex w-full flex-col items-start justify-center gap-6">
    <Typography variant={"h1"} className="">Meet Don'Natello</Typography>

    <!-- Badges -->
    <div class="flex w-full items-center justify-start gap-3">
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>Thoroughbred</Typography>
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>16</Typography>
        <Cake />
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>2</Typography>
        <Medal />
      </Badge>
    </div>

    <div class="flex flex-col items-start justify-center gap-2">
      <Typography variant={"p"} className="">
        ***Donny has a gentle demeanor and affectionate nature makes him
        especially fond of children and takes great pleasure in his role as a
        trusted companion. He is dedicated to providing a safe and nurturing
        introduction to the world of horses, making him the perfect partner for
        riders of all levels.
      </Typography>
      <ReadMoreText
        part1="Donny's success extends beyond his loving personality. He has showcased his talent and skill by successfully competing at the 1.10cm level in show jumping and demonstrating his prowess in elementary level dressage. These achievements are a testament to his abilities and his commitment to excellence."
        client:load
      />
    </div>

    <Button>Book a Lesson with Me</Button>
  </div>
</section>
