---
import Typography from "@/components/ui/Typography"
import { Button } from "@/components/ui/button"
import { Badge } from "@/components/ui/badge"
import { Cake, Medal } from "lucide-react"
import { FaHorseHead } from "react-icons/fa"
import ReadMoreText from "./ui/ReadMoreText"
import SlideShow from "./ui/SlideShow"
import { getImage } from "astro:assets"
import { DonnyImages } from "@/lib/ClientData"

const image1 = await getImage({ src: DonnyImages[0], format: "avif" })
const image2 = await getImage({ src: DonnyImages[1], format: "avif" })
const image3 = await getImage({ src: DonnyImages[2], format: "avif" })
const image4 = await getImage({ src: DonnyImages[3], format: "avif" })
---

<section
  id="Horse"
  class="grid grid-cols-1 gap-10 md:grid-cols-2 md:items-start md:gap-10 lg:gap-20"
>
  <!-- Left Carousel -->
  <SlideShow
    images={[image1.src, image2.src, image3.src, image4.src]}
    client:visible
  />

  <!-- Right Content -->
  <div class="flex w-full flex-col items-start justify-center gap-6">
    <Typography variant={"h1"} className="">Meet Don'Natello</Typography>

    <!-- Badges -->
    <div class="flex w-full items-center justify-start gap-3">
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2 px-3 py-2"
      >
        <Typography variant={"p"} affects={"small"}>Thoroughbred</Typography>
        <FaHorseHead style={{ width: "20px", height: "20px" }} />
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2 px-3 py-2"
      >
        <Typography variant={"p"} affects={"small"}>16</Typography>
        <Cake />
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2 px-3 py-2"
      >
        <Typography variant={"p"} affects={"small"}>2</Typography>
        <Medal />
      </Badge>
    </div>

    <div class="flex flex-col items-start justify-center gap-2">
      <Typography variant={"p"} className="">
        ***Donny has a gentle demeanor and affectionate nature makes him
        especially fond of children and takes great pleasure in his role as a
        trusted companion. He is dedicated to providing a safe and nurturing
        introduction to the world of horses, making him the perfect partner for
        riders of all levels.
      </Typography>
      <Typography
        variant={"p"}
        affects={"removePMargin"}
        className="hidden xl:block"
      >
        Donny's success extends beyond his loving personality. He has showcased
        his talent and skill by successfully competing at the 1.10cm level in
        show jumping and demonstrating his prowess in elementary level dressage.
        These achievements are a testament to his abilities and his commitment
        to excellence.
      </Typography>
      <div class="xl:hidden">
        <ReadMoreText
          part1="Donny's success extends beyond his loving personality. He has showcased his talent and skill by successfully competing at the 1.10cm level in show jumping and demonstrating his prowess in elementary level dressage. These achievements are a testament to his abilities and his commitment to excellence."
          client:load
        />
      </div>
    </div>

    <Button><a href="#Services"> Book a Lesson with Me</a></Button>
  </div>
</section>
