---
import Typography from "@/components/ui/Typography"
import { Button } from "@/components/ui/button"
import HorseProfileImg from "@/assets/HorseProfile.jpg"
import ResponsiveImage from "@/components/ui/ResponsiveImage.astro"
import { Badge } from "@/components/ui/badge"
import { Cake, Medal } from "lucide-react"
import ReadMoreText from "./ui/ReadMoreText"
---

<section id="HorseProfile" class="grid grid-cols-1 gap-10">
  <!-- Left Carousel -->
  <ResponsiveImage
    alt="Site intro"
    src={HorseProfileImg}
    sizes={[400, 700, 900]}
    format="avif"
  />

  <!-- Right Content -->
  <div class="flex w-full flex-col items-start justify-center gap-6">
    <Typography variant={"h1"} className="">Meet Donny</Typography>

    <!-- Badges -->
    <div class="flex w-full items-center justify-start gap-3">
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>Ridge-Back</Typography>
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>7</Typography>
        <Cake />
      </Badge>
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>2</Typography>
        <Medal />
      </Badge>
    </div>

    <div class="flex flex-col items-start justify-center gap-2">
      <Typography variant={"p"} className="">
        As a ridgeback breed, Don Natello possesses the strength, agility, and
        striking appearance that make him stand out. His captivating presence
        and sleek physique make him a true sight to behold.
      </Typography>
      <ReadMoreText
        part1="But it's not just about his achievements and physical attributes. Don Natello has a charming personality and thrives on attention. He loves forming connections with riders and cherishes the time spent together."
        part2="Riding with Don Natello is an experience like no other. His presence will elevate your riding skills and create unforgettable moments that you will cherish for a lifetime."
        client:load
      />
    </div>

    <Button>Book a Lesson with Me</Button>
  </div>
</section>
