---
import Typography from "@/components/ui/Typography"
import { Button } from "@/components/ui/button"
import IntroImg from "@/assets/IntroImg.jpg"
import ShowJumping from "@/assets/ShowJumping.jpg"
import ResponsiveImage from "@/components/ui/ResponsiveImage.astro"
---

<section
  id="Intro"
  class="grid grid-cols-1 gap-6 md:grid-cols-2 md:items-start md:gap-10 lg:gap-20"
>
  <ResponsiveImage
    alt="Site intro"
    src={IntroImg}
    sizes={[400, 700, 900]}
    format="avif"
  />

  <!-- Right Content -->
  <div class="flex w-full flex-col items-start justify-center gap-10">
    <div class="flex flex-col items-start justify-center gap-6">
      <div>

      <Typography variant={"h1"} className="">
        Unleash Your Riding Potential
      </Typography>
      <Typography variant={"p"} className="">
        As an experienced horse riding instructor with a successful competitive
        show riding career, I am here to help your child embark on an
        unforgettable equestrian adventure. From beginners to more advanced
        riders, my lessons are designed to nurture their passion for horses and
        develop their riding skills.
      </Typography>
      </div>
      <Button>Book Now</Button>
    </div>

    <ResponsiveImage
      alt="Show Jumping"
      src={ShowJumping}
      sizes={[200, 700, 900]}
      format="avif"
    />
  </div>
</section>
