---
import Typography from "@/components/ui/Typography"
import DropDown from "./ui/DropDown.astro"
import { Button } from "./ui/button"
import { ContactMeLink } from "@/lib/ClientData"
---

<nav
  id="Navbar"
  class="fixed top-0 z-10 flex w-full items-center justify-between border-b border-slate-300 bg-background p-5 md:pl-14 md:pr-14 lg:pl-28 lg:pr-28"
>
  <a href="/#banner">
    <Typography variant="h3" className="">Mabeffi Equestrian</Typography>
  </a>

  <div class="hidden items-center justify-center gap-3 md:flex lg:gap-5">
    <a href="/#AboutMe">
      <Typography variant={"p"} className="font-medium">About Me</Typography>
    </a>
    <a href="/#Services">
      <Typography variant={"p"} className="font-medium">Services</Typography>
    </a>
    <a href="/#Horse">
      <Typography variant={"p"} className="font-medium">Horse</Typography>
    </a>
    <a href="/#Reviews">
      <Typography variant={"p"} className="font-medium">
        Testimonials
      </Typography>
    </a>
  </div>

  <Button className="hidden md:block">
    <a href={ContactMeLink}> Contact</a>
  </Button>

  <DropDown />
</nav>
