---
import Typography from "@/components/ui/Typography"
import DropDown from "@/components/ui/DropDown"
---

<nav
  id="Navbar"
  class="flex w-full items-center justify-between border-b border-slate-300 p-5 md:pl-14 md:pr-14 lg:pl-28 lg:pr-28"
>
  <Typography variant="h3" className="">Mabeffi Equestrian</Typography>
  <DropDown client:load />
</nav>
