---
import Typography from "@/ui/Typography"
import { Menu } from "lucide-react"
---

<nav
  class="flex w-full items-center justify-between border-b border-slate-300 p-5"
>
  <Typography variant="h3" className="">Mabeffi Equestrian</Typography>
  <Menu />
</nav>
