---
import Typography from "@/components/ui/Typography"
import DropDown from "./ui/DropDown.astro"
import { Button } from "./ui/button"
---

<nav
  id="Navbar"
  class="flex w-full items-center justify-between border-b border-slate-300 p-5 md:pl-14 md:pr-14 lg:pl-28 lg:pr-28"
>
  <Typography variant="h3" className="">Mabeffi Equestrian</Typography>

  <div class="hidden items-center justify-center gap-3 md:flex lg:gap-5">
    <a href="/#AboutMe">
      <Typography variant={"p"} affects={"large"}>About Me</Typography>
    </a>
    <a href="/#Services"  >
      <Typography variant={"p"} affects={"large"}>Services</Typography>
    </a>
    <a href="/#Horse">
      <Typography variant={"p"} affects={"large"}>Horse</Typography>
    </a>
    <a href="/#Reviews">
      <Typography variant={"p"} affects={"large"}>Testimonials</Typography>
    </a>
  </div>

  <Button className="hidden md:block">Contact</Button>

  <DropDown />
</nav>
