---
import Typography from "./ui/Typography"
import { FaWhatsapp } from "react-icons/fa"
import { Button } from "./ui/button"
import ServiceCard from "./ui/ServiceCard.astro"
import { ContactMeLink } from "@/lib/ClientData"

const servicesOffer = [
  {
    title: "Pony Rides",
    description: "Enhance your riding skills",
    intails: [
      "1 Lap around arena",
      "For all ages",
      // "Brushing & tackling horse for riding",
    ],
    bookWhat: "Ride",
    link: "",
  },
  {
    title: "Hour Riding Lesson",
    description: "Enhance your riding skills",
    intails: [
      "Horse Riding",
      "Prepare horse for paddock",
      "Brushing & tackling horse",
    ],
    bookWhat: "Lesson",
    link: "",
  },
  {
    title: "30min Lesson",
    description: "Enhance your riding skills",
    intails: [
      "Horse Riding",
      "Ideal for Kids under 5",
      "Brushing & Tackling horse",
    ],
    bookWhat: "Session",
    link: "",
  },
  {
    title: "Photo Shoot",
    description: "Enhance your riding skills",
    intails: [
      "Horse Riding",
      "Preparing horse for paddock",
      "Brushing & tackling horse for riding",
    ],
    bookWhat: "Session",
    link: "",
  },
]
---

<section
  id="Services"
  class="flex w-full flex-col items-center justify-center gap-14"
>
  <div class="w-full border-b border-foreground"></div>
  <!-- Heading -->
  <div class="flex flex-col items-center justify-center gap-3">
    <Typography variant={"h1"} className="">My Services</Typography>
    <Typography variant={"p"} className="text-center" affects={"removePMargin"}>
      Unlock Lifelong Skills and Qualities with Horse Riding Lessons
      <!-- By enrolling your child in my horse riding lessons, you are giving them
      the opportunity to not only learn a lifelong skill but also develop
      essential life qualities such as discipline, patience, and perseverance. -->
    </Typography>
  </div>

  <!-- Services -->
  <div
    class="flex w-full flex-col items-center justify-center gap-10 lg:flex-row lg:items-start"
  >
    <div
      class="flex w-full flex-col items-center justify-center gap-10 md:flex-row md:items-start"
    >
      <ServiceCard service={servicesOffer[0]} />
      <ServiceCard service={servicesOffer[1]} primary />
    </div>

    <ServiceCard service={servicesOffer[2]} />
  </div>

  <div class="flex flex-col items-center justify-center gap-4 text-center">
    <a href={ContactMeLink} class="">
      <Button className="w-full gap-3">
        <FaWhatsapp className="h-5 w-5 " />
        <p>Get In Touch</p>
      </Button>
    </a>
    <Typography variant={"p"} affects={"removePMargin"}>
      Unlock your child's riding potential.
    </Typography>
  </div>

  <div class="w-full border-b border-foreground"></div>
</section>
