---
import Testimonial from "./ui/Testimonial.astro"
import Typography from "./ui/Typography"
---

<section id="Reviews" class="flex flex-col items-center justify-center gap-10">
  <Typography variant={"h1"} className="">Testimonials</Typography>

  <!-- Testimonials -->
  <div>
    <Testimonial name="Sarah J. Smith" body="My child has been attending Maribeth Connor's Horse Riding Lessons for several months now, and I couldn't be happier with the experience. Maribeth's expertise and passion for horses truly shines through in her teaching. Not only has my child developed solid riding skills, but they have also gained confidence, discipline, and a deep love for these magnificent animals." />
  </div>
</section>
