---
import Testimonial from "./ui/Testimonial.astro"
import Typography from "./ui/Typography"
---

<section id="Reviews" class="flex flex-col items-center justify-center gap-10">
  <Typography variant={"h1"} className="">Riding Events</Typography>

  <!-- Testimonials -->
  <div>
    <Testimonial />
  </div>
</section>
