---
import { Menu } from "lucide-react"
import Typography from "./Typography"
---

<div class="group relative inline-block md:hidden">
  <Menu />
  <div
    class="absolute right-0 hidden rounded-md border border-popover bg-popover p-4 text-popover-foreground shadow-md group-hover:block"
  >
    <a class="my-2 w-full bg-popover" href="#AboutMe">
      <Typography
        variant="p"
        affects={"large"}
        className="font-semibold text-popover-foreground"
      >
        About me
      </Typography>
    </a>
    <a class="my-2 w-full bg-popover" href="#Services">
      <Typography
        variant="p"
        affects={"large"}
        className="font-semibold text-popover-foreground"
      >
        Services
      </Typography>
    </a>
    <a class="my-2 w-full bg-popover" href="#Horse">
      <Typography
        variant="p"
        affects={"large"}
        className="font-semibold text-popover-foreground"
      >
        Horses
      </Typography>
    </a>
    <a class="my-2 w-full bg-popover" href="#Reviews">
      <Typography
        variant="p"
        affects={"large"}
        className="font-semibold text-popover-foreground"
      >
        Testimonials
      </Typography>
    </a>
    <a class="my-2 w-full bg-popover" href="#Testimonials">
      <Typography
        variant="p"
        affects={"large"}
        className="font-semibold text-popover-foreground"
      >
        Contact
      </Typography>
    </a>
  </div>
</div>
