---
import Typography from "./Typography"
---

<div class="flex flex-col items-center justify-center gap-8">

  <div class="flex flex-col items-center justify-center gap-3">
    <Typography variant="h2" className="text-center font-extrabold">
      Powered by<br /><a
        href="https://www.nerfdesigns.com/"
        class="text-blue-900"
      >
        Nerf Designs
      </a>
    </Typography>
    <Typography variant={"p"} affects={"large" } className="[&:not(:first-child)]:mt-0" >
      Nerf Your Competition today!
    </Typography>
  </div>

  <!-- Meta !!ATTENTION -->
  <div class="flex flex-col items-center justify-center gap-4">
    <Typography variant="p" affects={"small"}>
      &copy; 2024 Nerf Designs. All right reserved.
    </Typography>
    <!-- <div class="flex items-center justify-center gap-6">
      <Typography variant="p" affects={"small"} className="mt-6">
        Privacy Policy
      </Typography>
      <Typography variant="p" affects={"small"}>Terms of Service</Typography>
      <Typography variant="p" affects={"small"}>Cookies Settings</Typography>
    </div> -->
  </div>
</div>
