---
import { SocialMediaLinks } from "@/lib/ClientData"
import Typography from "./Typography"
import { FaWhatsapp } from "react-icons/fa"
import { FaInstagram } from "react-icons/fa6"
import { FaFacebook } from "react-icons/fa6"
---

<div class="flex w-full flex-col items-center justify-center gap-10 md:gap-16">
  <div class="flex w-full items-start justify-between md:items-center">
    <a href="#banner">
      <Typography variant={"h3"} className="text-start">
        Mabeffi <br class="md:hidden" /> Equestrian
      </Typography>
    </a>

    <!-- <img src={img.src} class="w-28" /> -->

    <!-- Links -->
    <div
      class="flex flex-col items-start justify-center gap-2 md:flex-row md:items-center md:gap-10"
    >
      <a href="#AboutMe">
        <Typography variant={"p"} affects={"removePMargin"}>
          About Me
        </Typography>
      </a>
      <a href="#Services">
        <Typography variant={"p"} affects={"removePMargin"}>
          Services
        </Typography>
      </a>
      <a href="#Horse">
        <Typography variant={"p"} affects={"removePMargin"}>Horse</Typography>
      </a>
      <a href="#Events">
        <Typography variant={"p"} affects={"removePMargin"}>Events</Typography>
      </a>
    </div>
  </div>

  <!-- Social Media -->
  <div
    class="flex items-center justify-center gap-5 md:justify-center md:gap-10"
  >
    <a href={SocialMediaLinks.Instagram}>
      <FaInstagram className="h-7 w-7" />
    </a>
    <a href={SocialMediaLinks.WhatsApp}>
      <FaWhatsapp className="h-7 w-7" />
    </a>
    <a href={SocialMediaLinks.Facebook}>
      <FaFacebook className="h-7 w-7" />
    </a>
  </div>
</div>
