---
import { Card, CardContent,   CardFooter,   CardHeader } from "@/components/ui/card"
import Typography from "./Typography"
import { Button } from "./button"
import { Check } from "lucide-react"


type Service = {
  title: string
  image: string
  description: string
  intails: string[]
  bookWhat: string
}
interface Props {
  service: Service
}

const {
  service: { title, image, description, intails, bookWhat },
} = Astro.props
---


<Card className="w-full grid grid-cols-1 gap-5  content-center items-center">
    <!-- <img src={image} alt="Service Card Image" class="w-full" /> -->

    <CardHeader className="">
      <Typography variant={"h2"} className="text-center">{title}</Typography>
      <Typography variant={"p"} affects={"muted"} className="text-center">{description}</Typography>
    </CardHeader>
    <CardContent>
        {intails.map((intail) => (

        <div class="flex justify-start items-center gap-3">
            <Check />
            <Typography variant={"p"} affects={"removePMargin"}>{intail}</Typography>
        </div>
        ))}
    </CardContent>
    <CardFooter className="w-full">

        <Button className="w-full">Book A Ride</Button>
    </CardFooter>

  </Card>
  