---
import Typography from "./Typography"

const { name, body } = Astro.props
---

<div class="flex w-full flex-col items-start justify-start gap-1">
  <Typography variant={"h3"}>{name}</Typography>
  <Typography variant={"p"}>
    {body}
  </Typography>
</div>
