---
import Typography from "./Typography"
import { Card, CardContent, CardHeader } from "./card"

const { name, body } = Astro.props
---

<Card>
  <CardHeader>
    <Typography variant={"h3"}>{name}</Typography>
  </CardHeader>

  <CardContent>
    <Typography variant={"p"}>
      {body}
    </Typography>
  </CardContent>
</Card>

<!-- <div class="flex w-full flex-col items-start justify-start gap-1">
  <Typography variant={"h3"}>{name}</Typography>
  <Typography variant={"p"}>
    {body}
  </Typography>
</div> -->
